@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sbu7uz');
  src:  url('fonts/icomoon.eot?sbu7uz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sbu7uz') format('truetype'),
    url('fonts/icomoon.woff?sbu7uz') format('woff'),
    url('fonts/icomoon.svg?sbu7uz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e912";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-info:before {
  content: "\ea0c";
}